@model IEnumerable<MercadoIGL.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabela de Fornecedores</h1>

<p class="fs-1">
    <a asp-action="Create"><i class="bi bi-plus-circle"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.idFornecedor"><i class="bi bi-hammer"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.idFornecedor"><i class="bi bi-body-text"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.idFornecedor"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
